body {
    background-color: floralwhite;
}

nav > .container {
    width: 100%;
}

/* ----- CAROUSEL STYLES ----- */

.carousel {
    height: 500px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 30px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1920px !important;
    height: 100%;
}

/* ----- NAVBAR STYLES ----- */

.navbar-default {
    background: white none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
}

/* ----- HOMEPAGE STYLES ----- */

.marketing {
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    box-shadow: 0 0 5px 0 lightgrey;
}

.featurette {
    text-align: center;
    padding: 0 40px;
    margin-bottom: 30px;
}

.featurette-image {
    height: 210px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.featurette-text {
    min-height: 110px;
}

.featurette img {
    max-width: 100%;
    max-height: 100%;
}

.feature-big img {
    margin-bottom: 20px;
}

/* ----- END HOMEPAGE STYLES ----- */

.jumbotron {
    color: white;
    background-image: url("../img/background-1932466_1920.jpg");
    background-size: cover;
}

/* ----- PRODUCT LISTING SIDEBAR ----- */

.list-group {
    border-radius: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

/* ----- PRODUCT LISTING ----- */

.product-list {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.product-listing {
    height: 400px;
}


.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    box-shadow: 0 0 2px 0 lightgrey;
    border-radius: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.thumbnail a>img, .thumbnail>img {
    min-width: 100%;
}

/* ----- PRODUCT PAGE STYLES ----- */

.product-details {
    padding: 20px;
    margin: 40px;
    box-shadow: 0 0 5px 0 lightgrey;
    background-color: white;
}

.product-image {
    max-width: 100%;
    border: 1px solid #eee;
}

/*------ FORM STYLE -------- */
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.main{
 	margin:50px 15px;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#009edf;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


/* ----- FOOTER STYLES ----- */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
    background-color: white;
    text-align: center;
}
